[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
TimeoutStartSec=0
ExecStartPre=/bin/bash -c '/usr/bin/wget -N -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/v0.21.2/bin/linux/amd64/kube-proxy'
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-proxy
ExecStart=/opt/bin/kube-proxy \
 --master=http://127.0.0.1:8080 \
 --logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[X-Fleet]
Global=true
#MachineMetadata=role=node
